
/**NAV BAR**/
html {
    scroll-behavior:smooth; /*para que el desplazamiento al contenido sea despacio*/
  }
*{
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-family:"Inconsolata", monospace ;
}
    
nav {
      font-family:"Inconsolata", monospace ;
      padding: 5px 5%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      z-index: 1;
    }
nav .logo {
      display: flex;
      align-items: center;
    }
nav .logo img {
      height: 100px;
      width: 100px;
      margin-right: 10px;
    }
nav .logo h1 {
      font-family:"Inconsolata", monospace;
      font-size: 25px; /*1.1rem*/
      background-color: white;
      /*background: linear-gradient(to right, #221927 0%, #81899e 100%);*/
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
}
    
nav ul {
    font-family:"Inconsolata", monospace; ;
    list-style: none;
    display: flex;
    }
nav ul li {
    margin-left: 1.5rem;
    }
nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 95%;
    font-weight: 400;
    padding: 4px 8px;
    border-radius: 5px;
}
    
nav ul li a:hover {
    /*#f5f5f5*/
    color: black;
    }
    
.hamburger {
    display: none;
    cursor: pointer;
}
    
.hamburger .line {
    width: 25px;
    height: 1px;
    background-color: #1f1f1f;
    display: block;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
}
.hamburger-active {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6s;
    transform: rotate(45deg);
}
    
.hamburger-active .line:nth-child(2) {
    width: 0px;
}
    
.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
    transition-delay: 0.3s;
}
    
.hamburger-active .line:nth-child(1) {
    transform: translateY(12px);
}
    
.hamburger-active .line:nth-child(3) {
    transform: translateY(-5px) rotate(90deg);
}
    
.menubar {
    position: absolute;
    top: 0;
    left: -60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    height: 100vh;
    padding: 20% 0;
    background: rgba(255, 255, 255);
    transition: all 0.5s ease-in;
    z-index: 2;
}
.active {
    left: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
    
.menubar ul {
    padding: 0;
    list-style: none;
}
.menubar ul li {
    margin-bottom: 32px;
}
    
.menubar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 95%;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 5px;
}
    
.menubar ul li a:hover {
    background-color: #f5f5f5;
}
@media screen and (max-width: 790px) {
    .hamburger {
        display: block;
    }
    nav ul {
        display: none;
    }
}
  
  /****************/
  /****************/
  
body{
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    margin: 0;
    background-color: rgb(129, 120, 153); 
    color: #f5f5f5; 
      /*background: linear-gradient(80deg white,rgb(139, 82, 139), pink);
      /*background: radial-gradient(center center, circle, black, rgb(129, 120, 153));*/
    
}

  
/*DIARIO*/

#contenedor{
    font-family: "Inconsolata", monospace;
    color: black;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    /*agregado*/
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    height: 100vh; /* Altura completa de la ventana */
    gap: 20px; /* Espacio entre el diario y el recordatorio */
  }
  
#contenedor h1, h3
  {
      margin: 10px;
      margin-top: 5px;
  }
  
#contenedor2{
    
    margin: 25px auto; /* Centrar horizontalmente */
    padding: 25px; /* Espaciado interno */
    background-color: #fff; /* Fondo blanco */
    border: 0.5rem whitesmoke;
    border-radius: 12px;
    width: 100%;
    max-width: 450px; /* Limitar el ancho como el recordatorio */
    min-height: 350px;
    display: flex;
    flex-direction: column; /* Alinear elementos en columna */
    align-items: center; /* Centrar contenido horizontalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      
  }
  
textarea{
    background-color: #bda5a5;
    color: black;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    border-radius: 1%;
  }
  
#contenedor2 .date-container {
    display: flex; /* Activa el diseño en línea */
    align-items: center; /* Alinea verticalmente */
    gap: 10px; /* Espaciado entre los elementos */
  }
#contenedor2 button{
    font-family: "Inconsolata", monospace;
      font-size: 110%;
      color:whitesmoke;
      width: 15%;
      height: 40px;
      border: 20px;
      cursor: pointer;
      float: right;/*alinea el boton a la derecha*/
      
      border-radius: 20px;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      
      background-color: rgb(129, 120, 153);
      
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 10px;
      
  }
#contenedor2 button:hover{
      background-color: #000;
      color: rgb(129, 120, 153);  
  }
  
  /*RECORDATORIO*/
  
:root {
    --primary: #A5C882;
    --secondary: #D33F49;
    --light: #fff;
    --dark: #000;
    --diabled: #e7e7e7;
  }
  
  
*:first-letter {
    text-transform: capitalize;
  }
.roundBorder {
    border-radius: 5px;
  }
.list {
    margin: 25px auto;
    padding: 25px;
    background-color: var(--light);
    width: 100%;
    max-width: 450px; /*modifique el width*/
 }
  
.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.date-container input{
    cursor: pointer;
}
.dateRight {
    display: flex;
    align-items: center;
  }
#dateNumber {
    font-size: 50px;
  }
#dateText {
    letter-spacing: 3px;
    text-transform: uppercase;
  }
#dateMonth,
#dateNumber,
#dateText  {
    font-weight: bold;
  }
#dateMonth,
#dateYear {
    margin-left: 7px;
    font-size: 20px;
}
form {
    margin: 20px 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 35px auto;
    grid-column-gap: 15px;
}
input {
    border: none;
    padding-left: 10px;
    background-color: var(--diabled);
}
input:focus {
    outline: none;
  }
.addTaskButton,
.orderButton {
    border: none;
    font-weight: bold;
    cursor: pointer;
  }
.addTaskButton {
    height: 35px;
    border-radius: 50%;
    font-size: 18px;
    background-color: var(--diabled);
  }
.orderButton {
    background-color: var(--secondary);
    color: var(--light);
  }
.task {
    background-color: var(--primary);
    padding: 15px;
    margin-top: 15px;
    color: var(--light);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.task span{
    flex: 1;
 }
  
.task .deleteButton {
    background-color: var(--diabled);
    color: var(--dark);
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px; /* Espaciado del texto */
    font-size: 14px;
}
.done {
    background-color: var(--diabled);
    text-decoration: line-through;
    color: var(--dark);
}